@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

*
{
    background-color: #24252A;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --box-icon-color: transparent;
    --box-icon-inner: #1C2120;
}

@font-face 
{
    font-family: 'mathlete';
    src: url('Font/Mathlete-Bulky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SoulMaze Outlined';
    src: url('Font/MADESoulmazeOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SoulMaze';
    src: url('Font/MADESoulmaze.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Easysans';
    src: url('Font/Easysans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Adagietto';
    src: url('Font/Adagietto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Another';
    src: url('Font/Another.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'OneDay';
    src: url('Font/ONEDAY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Volvo';
    src: url('Font/VolvoBroad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SmilingDreamer';
    src: url('Font/SmilingDreamer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'PaperDaisy';
    src: url('Font/paperdaisy-demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SourCandy';
    src: url('Font/SourCandy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SimplyBites';
    src: url('Font/SimplyBites.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*===============================================================*/
/*.pubbl
{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.privacy-policy
{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.privacy-policy a
{
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
}

.btn
{
    margin-top: 20px;
    background-color: #E34672;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
}*/

.noscroll
{
    overflow: hidden;
}

body
{
    overflow-X: hidden;
}

/*Menù*/
.logo
{
    position: absolute;
    left: 5px;
    top: 8px;
}

.insta
{
    position: absolute;
    right: 15px;
    top: 5px;
    transition: all 0.3s ease 0s;
}

.insta:hover
{
    width: 85px;
}

.homepage-first
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.card
{
    width: 400px;
    height: 500px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    perspective: 1000px;
    transition: 0.5s ease;
    border-radius: 10px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.card-front, .card-back
{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 0.5s ease;
    border-radius: 10px;
    background: transparent;
}

.card-front
{
    transform: rotateY(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card svg
{
    position: absolute;
    left: 0;
    width: 300%;
    height: 150%;
    z-index: -2;
    transform: translateX(-25%) translateY(-15%);
    pointer-events: none;
    background-color: transparent;
}

.card-front img, .card-back h1
{
    background: transparent;
}

.card-back
{
    transform: rotateY(180deg);
}

.card:hover .card-front
{
    transform: rotateY(-180deg);
}

.card:hover .card-back
{
    transform: rotateY(0deg);
}

.card-back-information
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
}

.write-neon
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.write-neon h2
{
    font-size: 50px;
    color: #E34672;
    background: transparent;
    text-align: center;
}

.write-neon h2 span
{
    animation: neon 5s linear infinite;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
}

.write-neon h2 span:last-child
{
    animation-delay: 0.1s;
}

@keyframes neon
{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #fc6d6d;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 
        0 0 10px #E34672,
        0 0 20px #E34672,
        0 0 40px #E34672,
        0 0 80px #E34672,
        0 0 160px #E34672,
        0 0 320px #E34672,
        0 0 640px #E34672,
        0 20px 1280px #E34672;
    }
}

/*=============================Typinng Home=============================*/
.typing-box
{
    height: 500px;
    margin-top: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #24252A;
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
}

.typing
{
    display: inline-flex;
}

.typing-box-2 h1
{
    font-size: 80px;
    font-family: 'Poppins';
    color: white;
}

.typing-box-2 h2
{
    font-size: 45px;
    font-family: 'Poppins';
    color: white;
    align-items: center;
}

.h2
{
    display: flex;
    align-items: center;
}

.h2 h2:nth-child(2)
{
    margin-left: 17px;
}

.typing .typing-static-text
{
    color: white;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: #24252A;
}

.typing .typing-dynamic-text
{
    margin-left: 15px;
    height: 70px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #24252A;
}

.typing .typing-dynamic-text li
{
    font-family: 'Poppins', sans-serif;
    color: #fc6d6d;
    font-size: 50px;
    font-weight: 600;
    list-style-type: none;
    position: relative;
    top: 0;
    background-color: #24252A;
    animation: up-slide 3s steps(2) infinite;
}

@keyframes up-slide
{
    to{top:-150px}
}

.typing .typing-dynamic-text li span
{
    position: relative;
}

.typing .typing-dynamic-text li span::before, .typing .typing-dynamic-text li span::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24252A;
}

.typing .typing-dynamic-text .primo-type span::before
{
    background: #24252A /*#343f4f*/;
    animation: typing 1.5s steps(10) infinite;
}

.typing .typing-dynamic-text .primo-type span::after
{
    margin-left: 2px;
    width: 2px;
    background: #fc6d6d;
    animation: typing 1.5s steps(10) infinite;
}

.typing .typing-dynamic-text .secondo-type span::before
{
    background: #24252A /*#343f4f*/;
    animation: typing 1.5s steps(15) infinite;
}

.typing .typing-dynamic-text .secondo-type span::after
{
    width: 2px;
    background: #fc6d6d;
    animation: typing 1.5s steps(15) infinite;
}


@keyframes typing
{
    to{left:115%}
}

/*==========================================================*/
.home-principale
{
    display: flex;
}

.home-second
{
    margin-top: 0;
    animation-delay: 0.5s;
}

.home-second video
{
    margin: 0 100px;
}

.pulsantehome
{
    animation-delay: 1s;
}

.html
{
    animation-delay: 1.5s;
}

.css
{
    animation-delay: 2s;
}

.javascript
{
    animation-delay: 2.5s;
}

.menu
{
    display: flex;
    margin: 0 auto;
    padding: 0 0;
    justify-content: center;
    height: auto;
    position: relative;
}

.a-s
{
    border-bottom: 2px solid #E34672;
    border-radius: 0px;
    transition: 0.5s ease;
}

.a-s:hover
{
    border-radius: 10px;
}

header
{
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0px;
    padding: 0%;
    height: 100px;
    z-index: 10;
}

header ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 100px;
    justify-content: center;
}

header li
{
    float: left;
    padding: 5px 0;
    background: transparent;
}

.sub-menu
{
    display: none;
}

.first-divcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}

.first-divcenter-content1
{
    color: white;
    font-family: 'Poppins';
    font-size: 50px;
}

.first-divcenter-content2
{
    color: white;
    font-family: 'SoulMaze';
    font-size: 80px;
}

.freccia i
{
    font-size: 80px;
    color: white;
}

.first-metod, .second-metod, .third-metod, .fourth-metod, .fifth-metod, .sixth-metod
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
}

/* .left-first, .center-first, .right-first
{
    padding: 50px;
} */

.outer-box-first
{
    background-color: #353535;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.inner-box-first
{
    text-align: center;
    line-height: 200px;
}

.outer-box-second
{
    background-color: #353535;
    width: 200px;
    height: 200px;
    display: table;
    border-radius: 10px;
}

.inner-box-second
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.outer-box-third
{
    background-color: #353535;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}

.inner-box-third
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.outer-box-fourth
{
    background-color: #353535;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}

.inner-box-fourth
{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.outer-box-fifth
{
    background-color: #353535;
    width: 200px;
    padding: 100px 0;
    border-radius: 10px;
}

.inner-box-fifth
{
    margin: 0 auto;
    width: fit-content;
}

.outer-box-sixth
{
    background-color: #353535;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

button:not(.form button)
{
    background-color: #353535;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

button::before:not(.form button)
{
    background-color: #E34672;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
    width: 0;
    height: 100%;
    z-index: -1;
}

button:hover::before:not(.form button)
{
    width: 100%;
}

.txc
{
    color: white;
    font-family: 'Poppins';
    font-size: 50px;
    background-color: transparent;
}

.txc-small
{
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
    background-color: transparent;
}

.txc-medium
{
    font-size: 30px;
    color: white;
    font-family: 'Poppins';
    background-color: transparent;
}

.first-span-center
{
    color: #a5ff90;
}

.second-span-center
{
    color: #9effff;
}

.titoltc
{
    color: #ED4D6E;
    text-transform: uppercase;
    letter-spacing: 3px;
}


header li a 
{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-family: 'Impact';
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-weight: 100;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'mathlete';
    /*font-family: 'SoulMaze';*/
    font-size: 45px;
    font-family: 'Easysans';
    font-family: 'Volvo';
    font-family: 'SmilingDreamer';
    /*font-family: 'SourCandy';*/
    /*font-family: 'SoulMaze';
    font-size: 40px;*/
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bold;
}
  
header li a:hover
{
    background-color: #E34672;
    color: white;
    padding: 20px 35px;
    font-size: 50px;
}

header li a:hover .homebutton
{
    font-size: 45px;
}

.carattere
{
    justify-content: center;
}

.homebutton
{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 35px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease 0s;
}

/*.homepage
{
    width: 70%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #24252A;
    margin: 90px auto;
}

.homepage h1,h2
{
    background-color: #24252A;
}

.homepage h2
{
    background-color: #24252A;
    color: white;
}*/

.link
{
    color: #E34672;
    font-size: 22px;
}

/*HTML-INFORMATION*/
.html-information
{
    margin-top: 150px;
    height: auto;
    width: 100%;
    position: relative;
    /*clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);*/
    background-color: #F3ecea;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    /*background-image: linear-gradient(to right, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
    border-radius: 10px 10px 0 0;
}

.html-information h1, .html-information h2
{
    background-color: #F3ecea;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;*/
}

/*CSS-INFORMATION*/
.css-information
{
    height: auto;
    width: 100%;
    position: relative;
    /*clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);*/
    background-color: #96d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);*/
}

.css-information h1, .css-information h2
{
    background-color: #96d4d4;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;*/
}

/*JAVASCRIPT-INFORMATION*/
.javascript-information
{
    position: relative;
    margin-bottom: 150px;
    height: auto;
    width: 100%;
    /*clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);*/
    background-color: #ffc0c7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /*background-image: linear-gradient(to left, #f093fb 0%, #f5576c 100%);*/
    border-radius: 0 0 10px 10px;
}

.javascript-information h1, .javascript-information h2
{
    background-color: #ffc0c7;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;*/
}

.html-information h1, .css-information h1
{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 130px;
    color: #242424;
    /*-webkit-text-stroke: 0.5px #242424;*/
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    width: 40%;
}

.javascript-information-content
{
    background-color: #ffc0c7;
    background: transparent;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 40%;
}

.javascript-information-content h1
{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 120px;
    color: #242424;
    /*-webkit-text-stroke: 0.5px #242424;*/
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

/*===Comuni===*/
.html-information h2, .css-information h2, .javascript-information h2
{   
    z-index: 5;
    padding: 40px;
    width: 60%;
}

.html-information h1, .css-information h1, .javascript-information-content h1
{
    font-family: 'SoulMaze Outlined';
    background: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}
/*-----------------------------------Box-icon-home----------------------------*/
.box-icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 150px;
}

.box-icon-box
{
    position: relative;
    width: 350px;
    height: 280px;
    background-color: var(--box-icon-inner);
    border-radius: 10px;
    z-index: 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-icon-icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-icon-color);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}

.box-icon-box:hover .box-icon-icon
{
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon-box
{
    font-size: 60px;
    transition: 0.5s;
    transition-delay: 0s;
    background-color: transparent;
}

.box-icon-box:hover .icon-box
{
    font-size: 30px;
}

.box-icon-content
{
    position: relative;
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 1;
    margin-top: 140px;
    transform: scale(0);
    background-color: var(--box-icon-inner);
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box-icon-content h2
{
    background-color: var(--box-icon-inner);
    color: var(--box-icon-color);
    font-weight: 700;
}

.box-icon-content h3
{
    background-color: var(--box-icon-inner);
    color: white;
}

.box-icon-content button
{
    margin-top: 20px;
    background-color: #353535;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.box-icon-content button::before
{
    background-color: var(--box-icon-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
    width: 0;
    height: 100%;
    z-index: -1;
}

.box-icon-content button:hover::before
{
    width: 100%;
}

button a
{
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.box-icon-box:hover .box-icon-content
{
    transform: scale(1);
    transition-delay: 0.25s;
}

/*-----------------------------------Pages----------------------------*/
.lateralbar-secondaria
{
    display: none;
    width: auto;
    height: auto;
    background: #24252A;
    padding: 20px;
    margin: 0;
    padding: 0;
}

section
{
    margin-top: 150px;
    display: flex;
}

nav 
{
    float: left;
    width: 12%;
    height: auto;
    background: #24252A;
    padding: 20px;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 72vh;
    overflow-y: scroll;
}

/* span
{
    background-color: white;
} */
  
article 
{
    float: left;
    margin-left: 12%;
    padding: 20px;
    width: 77%;
    background-color: white;  /*#f1f1f1;*/
    height: auto; 
    min-height: 700px;
    padding-bottom: 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 100px;
}

article p, article div
{
    font-size: 22px; 
    font-family: 'Poppins'; 
    background-color: white;
}

article .img-html-css
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.img-html-css img
{
    background-color: transparent;
}

article li
{
    font-size: 22px; 
    font-family: 'Poppins'; 
    background-color: white;
}

article ul
{
    padding: 15px;
    background-color: white;
}


article h1,article h2,article h3,article h4,article h5,article h6
{
    font-family: 'Nunito', sans-serif; 
    background-color: white;
    color: black;
}

.titolo
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif; 
    background-color: white;
    color: #E34672;
}

.sottotitolo
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif; 
    background-color: white;
    color: #E34672;
}
  
aside
{
    float: left;
    padding: 20px;
    width: 20%;
    background-color: #24252A;
    height: 300px; 
}

nav ul
{
    list-style-type: none;
    padding: 0;
}

nav li a
{
    display: flex;
    color: #000;
    padding: 13px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    border-bottom: 4px solid #E34672;
    align-items: center;
    transition: all 0.4s ease 0s;
    font-family: 'Poppins';
}

/*----------------------------------Subnav-----------------------------*/
.subnav-voci
{
    display: none;
    transition: all 0.4s ease 0s;
    list-style-type: none;
}

.subnav-voci li a
{
    padding: 10px;
    font-size: 14px;
    background-color: #ED4D6E;
    color: white;
    border: 4px solid black;
    transition: all 0.4s ease 0s;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 17px;
}

.subnav-voci li a:hover
{
    font-size: 19px;
    padding: 19px 22px;
}

.subnav:hover .subnav-voci
{
    display: block;
    position: relative;
}

.frecciagiù
{
    font-size: 16px;
    color: #E34672;
    background-color: transparent;
    transition: all 0.4s ease 0s;
    margin-left: 5px;
}

nav li a:hover .frecciagiù
{
    color: white;
    transform: rotate(-450deg);
} 

.second-menu
{
    display: none;
}

/*-------------------------------------------------------------------*/
.first-lateralbar
{
    border-top: 4px solid #E34672;
    border-top-right-radius: 10px;
}

nav li a:hover
{
    background-color: #E34672;
    font-size: 19px;
    padding: 30px 16px;
}

.separetion
{
    display: flex;
    justify-content: center;
}

.separetion h2
{
    font-family: 'Poppins', sans-serif;
    background-color: #24252A;
    color: #E34672;
    position: relative;
}

.line
{
    width: 70%;
    height: 1px;
    background-color: white;
    opacity: 50%;
}

.separetion h2::before
{
    content: '';
    background-color: #E34672;
    width: 35px;
    height: 3px;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 120%;
    bottom: 50%;
}

.separetion h2::after
{
    content: '';
    background-color: #E34672;
    width: 35px;
    height: 3px;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 120%;
    bottom: 50%;
}

.contact
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
}

.contact-content
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.form-section 
{
    margin-top: 16px;
}
  
.form 
{
    max-width: 320px;
    margin: 35px;
}

.form form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.form-section input, .form-section textarea 
{
    background: #333;
    border: 0;
    padding: 16px;
    width: 100%;
    border-radius: 6px;
    color: #fff;
    width: 290px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-section textarea
{
    display: block;
    resize: vertical;
}

.form-section .textarea
{
    display: none;
}
  
.form button 
{
    width: 320px;
    border: 0;
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins';
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.form button:hover
{
    background-color: #333;
    color: white;
}

.contact-information
{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
}

.contact-information .information
{
    margin-top: 60px;
}

.contact-information .information h1
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.contact-information .information span
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.icona-mail, 
.icona-user
{
    font-size: 30px;
    color: #E34672;
}

footer
{   
    color: white;
    background-color: black;
    height: 70px;
    bottom: 0%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10000;
}

footer p
{
    margin: 25px 20px;
    font-size: 15px;
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'Poppins', sans-serif;
}

footer img
{
    background-color: transparent;
    right: 10px;
    bottom: 5px;
    position: fixed;
}

/*-------------------------------------------------------------------*/
.home-first
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 45%;
    align-items: center;
    margin: 100px auto;
    padding: 10px;
    box-shadow: 0 2px 10px grey;
}

.left-button
{
    margin-left: 15px;
    font-size: 40px;
    color: white;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    background-color: transparent;
    z-index: 1;
}

.table2 table tr th
{
    font-size: 25px;
}

@media (max-width: 1500px)
{
    .left-button
    {
        margin-bottom: 200px;
    }

    .table2 table tr, .table2 table th, .table2 table a, .table2 table tr th
    {
        font-size: 20px;    
    }

    .table2 table tr th
    {
        font-size: 25px;
    }

}

@media (max-width: 1080px)
{
    .table2 table tr, .table2 table th, .table2 table a, .table2 table tr th
    {
        font-size: 15px;    
    }

    .table2 table img
    {
        max-width: 100px;
    }
}

.left-button:hover
{
    background-color: #E34672;
    padding: 15px 25px;
}

.evidenziato
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkmagenta;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

p.paragrafo1
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkmagenta;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

p.paragrafo2
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkviolet;
    padding: 10px;
    border-radius: 5px;
    width: max-content;
}

.segnalibro
{
    font-size: 35px;
    background-color: transparent;
    color: #E34672;
}

.esempiohover
{
    background-color: white;
    text-decoration: none;
    padding: 0;
    font-size: 25px;
    color: #E34672;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    transition: all 0.4s ease 0s;
}

.esempiohover:hover
{
    background-color: #E34672;
    padding: 20px 25px;
    font-size: 28px;
    color: white;
}

.esempioactive
{
    background-color: white;
    text-decoration: none;
    padding: 0;
    font-size: 25px;
    color: #E34672;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    transition: all 0.4s ease 0s;
}

.esempioactive:active
{
    background-color: #24252A;
    padding: 20px 25px;
    font-size: 28px;
    color: white;
}

.esempiofocus
{
    background-color: white;
    text-decoration: none;
    padding: 0;
    font-size: 25px;
    color: #E34672;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    transition: all 0.4s ease 0s;
}

.esempiofocus:focus
{
    background-color: #24252A;
    color: white;
}

/* .box-esempi
{
    background-color: grey;
    width: 90%;
    min-height: 250px;
    max-height: 1300px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    box-shadow: 5px 5px #333;
}

.box-esempi-content
{
    color: black;
    margin: 20px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    position: relative;
    border-left: 5px solid darkgray;
} */

/*==========================Input=============================*/
article fieldset label
{
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background: white;
    font-size: 20px;
}

article fieldset
{
    width: 65%;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
    position: relative;
    background: white;
}

.input-article p
{
    font-size: 25px;
    width: 70%;
}

.normal-input:not(.button)
{
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    font-family: 'Poppins', sans-serif;
    background: white;
}

.normal-input-form
{
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background: white;
    padding: 3px;
}

.normal-input-img
{
    width: 40%;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
}

.button
{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    font-family: 'Poppins', sans-serif;
    background: white;
}

.checkbox
{
    position: absolute;
    right: 10px;
}

.radio
{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.radio label
{
    background: transparent;
    font-size: 20px;
}

.invia, .send
{
    width: 20%;
    background-color: #000;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    padding: 5px;
    position: absolute;
    right: 10px;
}

.reset-input
{
    cursor: pointer;
    transition: 0.5s ease;
}

.reset-input:hover
{
    background-color: #E34672;
    color: white;
}

.send:hover, .invia:hover
{
    background-color: #E34672;
}

article h3
{
    margin-top: 30px;
}

.input-span
{
    font-size: 25px;
    font-weight: bold;
    color: darkmagenta;
    background: white;
}

.titolo
{
    color: #E34672;
    font-weight: bold;
    font-size: 30px;
}

.sottotitolo
{
    font-size: 25px;
    font-weight: bold;
    color: #E34672;
}

/*========================Bootstrap=====================*/

.bootstrap
{
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.bootstrap p
{
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
}

.bootstrap button
{
    transition: 0.5s ease;
}

.bootstrap button:hover
{
    background-color: #E34672;
}

.bootstrap .navbar-nav a
{
    font-size: 25px;
}

.bootstrap .navbar-brand a
{
    font-size: 40px;
}

.bootstrap-navbar
{
    width: 100vw;
}

/*==================Altri elementi pagina==================*/

/*Selectiom*/
::selection
{
    background-color: #E34672;
    color: white;
}


/*Scrollbar*/
::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-track
{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: #E34672;
    border-radius: 10px;
}

/*==================Altro==================*/
.formdiesempio
{
    background-color: transparent;
}

.esempio-form
{
    padding: 0;
    margin: 0;
    position: relative;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
}

.esempio-form-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

@media (max-width: 1080px)
{
    .esempio-form-content
    {
        flex-direction: column;
        width: 90%;
        padding: 0 0;
        margin: 0 auto;
    }

    .normal-input-form
    {
        margin-bottom: 20px;
        width: 80%;
    }
}



/*==================Altro==================*/

.second-menu
{
    display: none;
}

.esempiojavascript, .box-esempi
{
    background-color: #24252A;
    border-radius: 10px;
    color: white;
    word-break: break-word;
    text-align: left;
    margin-bottom: 50px;
    border-left: 6px solid #E37;
}

.esempiojavascript span, .box-esempi span
{
    background-color: transparent;
}

.esempiojavascript p, .box-esempi p
{
    background-color: transparent;
    width: 95%;
    margin: 0 auto;
}

.tabellaoperatori
{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    font-family: 'Poppins';
}

.tabellaoperatori, .tabellaoperatori tr, .tabellaoperatori th, .tabellaoperatori td
{
    background-color: white;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.tabellaoperatori th
{
    margin-inline: 10px;
}

@media (max-width: 1080px)
{
    .tabellaoperatori, .tabellaoperatori tr, .tabellaoperatori th, .tabellaoperatori td
    {
        background-color: white;
        font-size: 17px;
        border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 8px;
    }

    .tabellaoperatori th
    {
        margin-inline: 8px;
    }
}

.esbutton::before
{
    background-color: #E34672;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
    width: 0;
    height: 100%;
    z-index: -1;
}

.esbutton:hover::before
{
    width: 100%;
}

.esempiolayout
{
    display: flex;
    position: relative;
}

.esempionav, .esempioarticle, .esempioaside, .esempiofooter
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.esempionav
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20%;
    background-color: lightgrey;
}

.esempioarticle
{
    width: 60%;
    background-color: grey;
}

.esempioaside
{
    width: 20%;
    background-color: lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.esempiofooter
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #24252A;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*==================Altro==================*/
.box-model-esempio
{
    position: relative;
    height: 400px;
    width: 85%;
    margin: 0 auto;
}

.bm
{
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #E37;
    padding: 4px;
    border-radius: 10px;
}

.bm1
{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: dashed;
}

.bm2
{
    height: 80%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #E37;
    color: white;
}

.bm3
{
    height: 60%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bm4
{
    height: 40%;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}

/*==================Responsive==================*/
@media (max-width: 1080px)
{
    .home-argoments
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .box-home
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .box-icon
    {
        width: 80%;
        height: 80%;
    }

    .box-icon-content
    {
        margin-top: 100px;
    }

    .html-information, .css-information, .javascript-information
    {
        width: 85%;
    }

    .pulsantehome
    {
        animation-delay: 140000s;
    }
    .html
    {
        animation-delay: 140000s;
    }

    .css
    {
        animation-delay: 140000s;
    }

    .javascript
    {
        animation-delay: 140000s;
    }

    .menu
    {
        position: absolute;
        right: 0;
        top: 0;
        width: 75px;
        height: 75px;
        transition: 0.3s ease-out;
    }
    
    
    .menu.barraaperta
    {
        overflow: auto;
        background: #242424;
        width: 100%;
        height: 100vh;
        display: block;
        z-index: 10000;
    }

    .menu.barraaperta .menù-toggle
    {
        /* border-bottom: 2px solid rgb(255, 250, 250, 0.5); */
        border-bottom: 2px solid #E34672;
        background-color: #242424;
    }
    
    .menu .menù-toggle
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
    
    .menu .menù-toggle .menù-toggle-content
    {
        margin-right: 25px;
        width: 32px;
        height: 5px;
        background-color: transparent;
        position: relative;
    }
    
    .menu .menù-toggle .menù-toggle-content::before
    {
        content: "";
        position: absolute;
        width: 32px;
        height: 5px;
        background-color: white;
        transform: translateY(-10px);
        transition: 0.4s ease;
        border-radius: 10px;
    }
    
    .menu .menù-toggle .menù-toggle-content::after
    {
        content: "";
        position: absolute;
        width: 32px;
        height: 5px;
        background-color: white;
        transform: translateY(10px);
        transition: 0.4s ease;
        box-shadow: 0 -10px 0 white;
        border-radius: 10px;
    }

    .menu.barraaperta .menù-toggle-content
    {
        margin-right: 25px;
    }
    
    .menu.barraaperta .menù-toggle .menù-toggle-content::before
    {
        transform: translateY(0px) rotate(590deg);
        background-color: white;
    }
    
    .menu.barraaperta .menù-toggle .menù-toggle-content::after
    {
        transform: translateY(0px) rotate(-225deg);
        box-shadow: 0px -10px 0 transparent;
        background-color: white;
    }
    
    .menu ul
    {
        display: none;
        list-style-type: none;
        transition: 0.5s;
        position: relative;
        margin-top: 270px;
        pointer-events: all;
    }
    
    .menu.barraaperta ul
    {
        display: block;
        flex-direction: column;
        transition-delay: 2s;
        position: relative;
        background-color: #242424;
    }

    .menu.barraaperta ul
    {
        display: flex;
        flex-direction: column;
    }
    
    .menu.barraaperta ul li
    {
        background-color: #242424;
        margin: 0;
    }

    .homebutton
    {
        color: white;
        font-size: 35px;
    }

    .menu ul li a:hover .homebutton
    {
        color: white;
        font-size: 40px;
    }
    
    .menu ul li a
    {
        text-decoration: none;
        padding: 15px 20px;
        color: white;
        background-color: #242424;
        transition: 0.5s ease;
        margin: 0;
        font-size: 35px;
    }
    
    .menu ul li a:hover
    {
        font-size: 45px;
        padding: 20px 35px;
        background-color: #E34672;
    }

    .insta
    {
        right: 65px;
        top: 2px;
        z-index: 1;
    }

    .insta:hover
    {
        width: 80px;
    }

    .contact-information
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .contact-information .form
    {
        margin: 0;
        padding: 0;
    }

    footer
    {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        width: 100%;
    }

    footer img
    {
        position: absolute;
        right: 20px;
    }

    footer p
    {
        width: 60%;
    }

    .typing-box
    {
        margin-top: 180px;
        flex-direction: column;
        text-align: center;
    }

    .typing-box-2
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .typing .typing-static-text, .typing-dynamic-text span
    {
        font-size: 45px;
    }

    @media (max-width: 600px)
    {
        .h2
        {
            flex-direction: column;
            align-items: center;
        }

        .h2 h2:nth-child(2)
        {
            margin-left: 0;
        }
    }

    .typing
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }

    .html-information h2, .css-information h2, .javascript-information h2
    {
        font-size: 18px;
        margin: 0;
        padding: 20px;
        width: 80%; 
    }

    .html-information h1, .css-information h1, .javascript-information-content h1
    {
        font-size: 65px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .html-information h1, .css-information h1
    {
        margin-top: 20px;
    }

    .html-information, .css-information, .javascript-information, .javascript-information-content
    {
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .javascript-information-content
    {
        margin-top: 30px;
    }

    .javascript-information-content h1
    {
        margin-left: 0px;
    }


    .form-section textarea
    {
        display: none;
    }

    .form-section .textarea
    {
        display: block;
    }

    .homepage-first
    {
        flex-direction: column;
        margin-bottom: 150px;
    }

    nav
    {
        display: none;
    }
    
    aside
    {
        display: none;
    }

    article
    {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
        height: auto;
    }

    .menu-separetion
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 180px;
        background: transparent;
        display: none;
    }

    .menu-separetion-content
    {
        /* background: rgb(255, 250, 250, 0.5); */
        background: #E34672;
        height: 3px;
        width: 80%;
    }

    .menu.menu.barraaperta .menu-separetion
    {
        display: block;
        display: flex
    }

    .second-menu
    {
        display: none;
    }

    .sub-menu
    {
        display: block;
        margin-top: 450px;
        margin-left: 10px;
    }

    .sub-menu ul li
    {
        width: auto;
    }

    .sub-menu ul li a
    {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        border-radius: 10px;
        transition: all 0.4s ease 0s;
        position: relative;
        display: block;
        font-family: 'SmilingDreamer';
        position: relative;
        margin: 0;
        width: max-content;
        overflow: hidden;
        font-family: 'Poppins';
        text-transform: uppercase;
        word-break: keep-all;
        width: fit-content;
    }

    .menu.barraaperta
    {
        overflow-x: hidden;
    }

    .sub-menu ul li a:hover
    {
        padding: 5px 10px;
        font-size: 30px;
        background: #242424;
    }

    .sub-menu ul li a::before
    {
        position: absolute;
        content: '';
        left: 0;
        bottom: 10%;
        width: 100%;
        height: 5px;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.4s ease;
        background: #E34672;
    }

    .sub-menu ul li a:hover::before
    {
        transform: scale(1);
        transform-origin: left;
    }

    .a-s
    {
        border-bottom: 2px solid #E34672;
        border-radius: 0px;
        transition: 0.5s ease;
    }

    header
    {
        position: fixed;
        top: 0;
    }

    .first-divcenter
    {
        height: auto;
        margin-top: 170px;
        margin-bottom: 270px;
        text-align: center;
    }

    .first-divcenter-content1
    {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .center-first, .center-second, .center-third, .center-fourth, .center-fifht, .center-sixth
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .freccia
    {
        margin-top: 20px;
    }

    .first-divcenter-content2
    {
        font-size: 50px;
    }

    .first-metod, .second-metod, .third-metod, .fourth-metod, .fifth-metod, .sixth-metod
    {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
        height: auto;
        margin-bottom: 250px;
    }

    .left-first
    {
        text-align: center;
    }

    .card
    {
        margin-top: 30px;
    }

    .information
    {
        text-align: center;
    }

    body
    {
        overflow-x: hidden;
    }

    .card
    {
        overflow: hidden;
    }

    .sub-menu ul li a
    {
        font-size: 30px;
    }
}


@media (max-width: 1500px) and (min-width: 1081px)
{
    body
    {
        overflow-x: hidden;
    }

    section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    article
    {
        width: 93%;
        margin: 0 auto;
        margin-bottom: 200px;
    }

    aside
    {
        width: 10%;
        display: none;
    }

    nav
    {
        display: none;
        margin: 0;
    }

    .sub-menu
    {
        display: none;
    }

    .second-menu
    {
        display: block;
    }
    
    .second-menu
    {
        margin: 0 auto;
        padding: 0 0;
        height: auto;
        margin-bottom: 20px;
        margin-top: 150px;
        width: 95%;
        text-align: center;
        border-bottom: 3px solid #E37;
    }

    .second-menu ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: auto;
        display: block;
    }

    .second-menu ul li
    {
        display: inline-block;
        height: auto;
        width: auto;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .second-menu ul li a
    {
        color: #000;
        padding: 13px 10px;
        text-decoration: none;
        font-size: 28px;
        color: white;
        border-radius: 10px;
        transition: all 0.4s ease 0s;
        position: relative;
        display: block;
        font-family: 'SmilingDreamer';
        text-align: center;
        position: relative;
        margin: 0;
        width: auto;
        overflow: hidden;
        font-family: 'Poppins';
        text-transform: uppercase;
    }

    .second-menu ul li a::before
    {
        position: absolute;
        content: '';
        left: 0;
        bottom: 10%;
        width: 100%;
        height: 5px;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.4s ease;
        background: #E34672;
    }

    .second-menu ul li a:hover::before
    {
        transform: scale(1);
        transform-origin: left;
    }

    .lateralbar-secondaria ul li a:hover .frecciagiù
    {
        color: white;
        transform: rotate(-90deg);
    }

    .lateralbar-secondaria .subnav
    {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .lateralbar-secondaria .subnav-voci
    {
        display: none;
        transition: all 0.4s ease 0s;
        list-style-type: none;
    }

    .lateralbar-secondaria .subnav li a:hover .subnav-voci
    {   
        display: block;
    }

    .lateralbar-secondaria .subnav-voci li
    {
        display: list-item;
    }

    .lateralbar-secondaria .subnav-voci li a
    {
        padding: 10px;
        font-size: 14px;
        background-color: #ED4D6E;
        color: white;
        transition: all 0.4s ease 0s;
        font-weight: bold;
        border: 2px solid white;
        position: absolute;
        top: -150%;
    }

    .lateralbar-secondaria .subnav-voci li a:hover
    {
        font-size: 15px;
        padding: 19px 22px;
    }


    .first-divcenter-content1
    {
        margin-top: 50px;
        font-size: 35px;
    }

    .first-divcenter-content2
    {
        font-size: 65px;
    }    
}